:root {
  --main-color: #39CB75;
  --secondary-color: #ffffff;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
.calendar-month{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  justify-content: space-between;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.calendar-month div{
  height: 200px;
  width: 35px;
  text-align: center;
}

.calendar-month .month-name{
  display: flex;
  width: 100%;
}

.calendar-month .month-name label{
  width: 100%;
  align-self: center;
  font-size:x-large;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.calendar-month .page{
  display: flex;
  justify-content: center;
}
.calendar-month .page label{
  align-self: center;
  font-size: 20px;
}

ul.calendar-weekdays{
  display: flex;
  padding: 10px 0px;
  justify-content: stretch;
  width: 100%;
  background-color: #ddd;
  margin: 0px;
}

.calendar-weekdays li{
  text-align: center;
  width: 100%;
  flex: 1 0 13%;  
}

ul.calendar-days{
  display: flex;
  padding: 10px 0px;
  justify-content: stretch;
  width: 100%;
  margin: 0px;
  flex-wrap: wrap;
}

.calendar-days li{
  text-align: center;
  width: 100%;
  flex: 1 0 13%;  
}

.calendar-days li.active {
  padding: 5px;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--secondary-color) !important
}

/* Add media queries for smaller screens
@media screen and (max-width:720px) {
}

@media screen and (max-width: 420px) {
}

@media screen and (max-width: 290px) {
}
 */