form{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: 20px;
}

.login-form-item{
  height: 100%;
  margin: 0px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2vw
}

.btn-login{
  width: 100%;
}